<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../statick/css/styles form.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4</title>
</head>
<body>
    <h1>4 pregunta</h1>
    <h2>¿cuantas areas verdes <br> cerca de tu casa?<h2>
    <form>
        <input type="radio"id="pocas" name="¿cuantas areas verdes cerca de tu casa?" value="3">
        <label for="poco">pocas</label><br>
        <a href="3">
        <input type="radio"id="moderado" name="¿cuantas areas verdes cerca de tu casa?" value="2">
        <label for="moderado">mas o menos</label><br>
        <a href="2">
        <input type="radio"id="mucho" name="¿cuantas areas verdes cerca de tu casa?" value="1">
        <label for="mucho">muchas</label><br>
        <a href="1">

    <form>
    <input type="submit" value="siguiente">
</body>
</html>