<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../statick/css/styles form.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1 to 2</title>
</head>
<body>
    
    <H1>1 pregunta</H1>
    <H2>¿cuantos autos tienes?<H2>
    <form>
        <input type="radio"id="1" name="cunto autos tienes?" value="1">
        <label for="1p">1</label><br>
        <a href="1">
        <input type="radio"id="2" name="cunto autos tienes?" value="2">
        <label for="1p">2</label><br>
        <a href="2">
        <input type="radio"id="3+" name="cunto autos tienes?" value="3+">
        <label for="1p">3+</label><br>
        <a href="3">

    
        <input type="submit" value="sigiente">
        
    <form>
</body>
</html>