<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../statick/css/styles form.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2</title>
</head>
<body>
    
    <H1>2 pregunta</H1>
    <H2>¿que tanto lo utilisas?<H2>
    <form>
        <input type="radio"id="1" name="¿que tanto lo utilisas?" value="1">
        <label for="1p">poco</label><br>
        <a href="1">
        <input type="radio"id="2" name="¿que tanto lo utilisas?" value="2">
        <label for="1p">no tanto</label><br>
        <a href="2">
        <input type="radio"id="3+" name="¿que tanto lo utilisas?" value="3">
        <label for="1p">mucho</label><br>
        <a href="3">
        
    
        
        
</body>
</html>