<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../statick/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cuestionario</title>

</head>
<body>
    <h1>cuestionario</h1>
    <form>
        <label for="fname">email:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <br><a href="/0">comemsar</a>
        
        
            
        
        
    <form>
</body>
</html>